<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="jumbotron jumbotron-fluid route-box">
              
                  <h1 class="display-4">
                   <a routerLink="/fuelapp">Place the order</a>
                </h1>
                  <p class="lead">Place the order for fuel</p>
            </div>
            
        </div>
        <div class="col-md-3 mt-5">
            <div class="jumbotron jumbotron-fluid route-box">
              
                  <h1 class="display-4"><a routerLink="/orderStatus"> Order status</a></h1>
                  <p class="lead">Check the status of orders</p>
            </div>
            
        </div>
        <div class="col-md-3 mt-5">
            <div class="jumbotron jumbotron-fluid route-box">
              
                  <h1 class="display-4">
                    <a routerLink="/orderReport"> Order report</a>

                  </h1>
                  <p class="lead">View Order report</p>
            </div>
            
        </div>

        <div class="col-md-3 mt-5">
            <div class="jumbotron jumbotron-fluid route-box">
              
                  <h1 class="display-4">
                    <a routerLink="/sheduledOrders"> Scheduled orders</a>

                  </h1>
                  <p class="lead">View schduled orders</p>
            </div>
            
        </div>
     </div>

     
</div>

